---
layout: bare
hidden: true
title: Art&iacute;culos
subtitle: Los trabajos inclasificables de nuestro staff
hero_types:
  - paper
hero_img:
  src: /img/hero/magnifying-glass-drawing.png
  width: 300
  height: 194
  alt: Dibujo de una lupa apoyada contra un libro cerrado
---
<main>
{% include hero.html %}
<section class="lista-posts">
{% include snip-index-seccion-sindesc.html category=site.articulos %}
</section>
{% comment -%}
<section class="lista-posts">
{% include hero.inc.html title="Productos" %}
{% include snip-index-seccion-sindesc.html category=site.productos %}
</section>
{%- endcomment -%}
</main>
