{%- assign nombre_seccion = page.url | replace:'/',' ' | strip | split:' ' | first -%}
<header>
  <nav>
    <div class="container">
      <a href="{% if site.production %}{{ site.baseurl | prepend:site.url }}{% else %}{{ site.baseurl | append:"/" }}{% endif %}" title="{{ site.title }}" class="site-logo"><img width="100" height="50" src="{{ "/img/comun/logo-light.png" | prepend:site.baseurl }}" alt="P&aacute;gina principal de {{ site.title }}"></a>
      <ul>
        <li><a {% if nombre_seccion == "arte" %}class="active" {% endif %}href="/arte">Arte</a></li>
        <li><a {% if nombre_seccion == "relatos" %}class="active" {% endif %}href="/relatos">Relatos</a></li>
        <li><a {% if nombre_seccion == "articulos" %}class="active" {% endif %}href="/articulos">Art&iacute;culos</a></li>
        <li><a {% if nombre_seccion == "blog" %}class="active" {% endif %}href="/blog">Blog</a></li>
      </ul>
    </div>
  </nav>
</header>
