---
layout: null
---
.hero--artattack {
 background-color: white;
 background-image: url({{ "/img/style/bg-04.jpg" | relative_url }});
}

.hero--artattack .hero__section-name,
.hero--artattack h1,
.hero--artattack .hero__subtitle,
.hero--artattack h2,
.hero--artattack .hero__body {
 color: #333;
 text-shadow: 0 0 0.5ex white;
}

.hero--artattack .hero__subtitle,
.hero--artattack .hero__body {
 color: #8A33B9;
 background-color: rgba(255,255,255, 0.8);
 padding: 1ex 1em;
 border-radius: 1ex;
}

.hero--artattack h1 {
 color: red;
}
